---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline" style="text-align: center;">{{ page.title | escape }}</h1>

    <h2 style="text-align: right;">{{ page.church | escape }}</h2>
    <h2 style="text-align: right;">{{ page.father | escape }}</h2>

    <h3 style="text-align: right;">제 1 독서 > <a href="{{ page.first_reading_link | escape }}">{{ page.first_reading | escape }}</a></h3>
    {%- if page.second_reading -%}
    <h3 style="text-align: right;">제 2 독서 > <a href="{{ page.second_reading_link | escape }}">{{ page.second_reading | escape }}</a></h3>
    {%- endif -%}
    <h3 style="text-align: right;">복음 > <a href="{{ page.gospel_link | escape }}">{{ page.gospel | escape }}</a></h3>
    <!-- Add alternative link for the image
      https://stackoverflow.com/questions/3984287/how-to-show-alternate-image-if-source-image-is-not-found-onerror-working-in-ie
      -->
    <img src="{{ page.image_link | escape }}"
      onerror="this.onerror=null; this.src='{{ page.image_copy_link | escape }}'">
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {%- if page.opening -%}
    <p>[인사말씀] <br> {{ page.opening | escape }} </p>
    {%- endif -%}
    [강론말씀] {{ content }}
    {%- if page.closing -%}
    <p>[첨언] <br> {{ page.closing | escape }}</p>
    {%- endif -%}
  </div>

  {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>